Package: celestia-bionic
Version: 1.5.1
Installed-Size: 50544
Maintainer: ailtonbsj <ailton.ifce@gmail.com>
Section: science
Architecture: i386
Priority: optional
Conflicts: celestia
Depends: libpng12-0:i386, libxmu6:i386, libstdc++5:i386
Homepage: https://celestia.space
Description: Real-time 3D visualization of space.
 The free space simulation that lets you explore our universe in three dimensions.
