[Desktop Entry]
Actions=Apkg-Verify;Apkg-Remove;
Comment=Space Simulator
Encoding=UTF-8
Exec=/usr/bin/celestia
Icon=celestia
Name=Celestia
StartupNotify=true
Terminal=false
Type=Application
Version=1.4.0
X-Autopackage=@celestia.sf.net/celestia:1.5.1
X-GNOME-DocPath=
 